<script lang="ts">
import { Camera, CameraSettings, useCamera, useCamerasList } from '@dimensional-innovations/vue-camera';
import { defineComponent, ref, watch } from 'vue';
import { useDevicesList } from '@vueuse/core';

export default defineComponent({
  components: {
    Camera,
    CameraSettings
  },
  setup () {
    const devices = useCamerasList();
    const selectedDevice = ref<string>();
    const mediaStream = useCamera(selectedDevice);

    return {
      devices,
      selectedDevice,
      mediaStream
    };
  }
});
</script>

<template>
  <div class="home">
    <camera :mediaStream="mediaStream" style="flex: 1 1 0px;" />
    <div class="settings">
      <select v-model="selectedDevice" style="margin-bottom: 16px">
        <option :value="undefined">
          Select a camera
        </option>
        <option v-for="device in devices" :key="device.deviceId" :value="device.deviceId">
          {{ device.label }}
        </option>
      </select>
      <camera-settings :mediaStream="mediaStream" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.home {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.settings {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 16px;

  input,
  button,
  select {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 0.5em;
    height: fit-content;
  }

  button[disabled] {
    opacity: 0.7;
  }
}
</style>
